{% extends "todoapp1/base.html" %}
{% block title %}
HAKKIMIZDA
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
.image { 
   position: relative; 
   width: 100%; 
}
h1 { 
   position: absolute; 
   top: 60px; 
   left: 620px;
   color:#E3D2BE;
}
</style>
</head>
<body>
<div class="image">
 <img src="https://w.wallhaven.cc/full/lm/wallhaven-lm638p.jpg" alt="" width="1530" height="150"/>
<br><br>
<h1>HAKKIMIZDA</h1>
</div>
</div>
</body>
</html> 


<p class="text-center">


                Mira💎, Trakya Üniversitesi - Keşan Yusuf Çapraz Uygulamalı Bilimler Yüksekokulu öğrencileri tarafından oluşturulan hastanelere yardımcı bir sesli asistandır.
</p>
<p class="text-center">Amacı hastanelerdeki danışmanların veya asistanların yerine geçebilecek ya da onların iş yükünü hafifletebilecek bir sanal asistan olarak tasarlanmıştır.
</p>
<p class="text-center">Hastanelerdeki görevlilerin aynı gün içerisinde pek çok insanla muhatap olmak zorunda kalması sonucu salgın hastalıkların yayılmasında fazla artış yaşanabilme
                     ihtimalini büyük oranda azaltmak, <br>görevlilerin sürekli aynı sorulara maruz kalmasının
                     can sıkıcı sonuçlarını ortadan kaldırmak,<br> hastaların ve hasta yakınlarının soru sormaları
                     gerektiği anda soru sorabilecekleri bir görevliye anında ulaşabilmelerini sağlamaktır.         
</p>
<p class="text-center">
                Bu gelişimi daha kurumsal ve ihtiyaçlara cevap verebilir hale getirmek için, tüm özverimizle çalışmaktayız.
<p class="text-center">

                Mira💎 için göstermiş olduğunuz ilgiden dolayı teşekkür ederiz. 
</p>
<br>


{% endblock content %}

