{% extends "todoapp1/base.html" %}
{% block title %}
HAKKIMIZDA
{% endblock title %}

{% block content %}

<div class="text-center">
<br>
<br>
<h1>HAKKIMIZDA</h1>
<br>
<br>
</div>

<p class="container">


                Me💎Like, Trakya Üniversitesi - Keşan Yusuf Çapraz Uygulamalı Bilimler Yüksekokulu öğrencileri tarafından oluşturulan hastanelere yardımcı bir sesli asistandır.
</p>
<p class="container">Amacı hastanelerdeki danışmanların veya asistanların yerine geçebilecek ya da onların iş yükünü hafifletebilecek bir sanal asistan olarak tasarlanmıştır.
</p>
<p class="container">Hastanelerdeki görevlilerin aynı gün içerisinde pek çok insanla muhatap olmak zorunda kalması sonucu salgın hastalıkların yayılmasında fazla artış yaşanabilme
                     ihtimalini büyük oranda azaltmak, görevlilerin sürekli aynı sorulara maruz kalmasının
                     can sıkıcı sonuçlarını ortadan kaldırmak, hastaların ve hasta yakınlarının soru sormaları
                     gerektiği anda soru sorabilecekleri bir görevliye anında ulaşabilmelerini sağlamaktır.         
</p>
<p class="container">
                Bu gelişimi daha kurumsal ve ihtiyaçlara cevap verebilir hale getirmek için, tüm özverimizle çalışmaktayız.
<p class="container">

                Me💎Like için göstermiş olduğunuz ilgiden dolayı teşekkür ederiz. 
</p>
<br>


{% endblock content %}

