{% extends "todoapp1/base.html" %}
{% block title %}
PROJE AYRINTILARI
{% endblock title %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<style>
.image { 
   position: relative; 
   width: 100%; 
}
h1 { 
   position: absolute; 
   top: 60px; 
   left: 560px;
   color:#E3D2BE;
}
</style>
</head>
<body>
<div class="image">
 <img src="https://w.wallhaven.cc/full/lm/wallhaven-lm638p.jpg" alt="" width="1530" height="150"/>
<br><br>
<h1>PROJE AYRINTILARI</h1>
</div>
</div>
</body>
</html> 


<div class="text-center">
<br>
<div class="site-title-wrapper">
	<h2 class="container"><a href="{% url 'about' %}" rel="home">Mira💎</a></h1>
</div><!-- .site-title-wrapper -->
</div>
<br>
<div class="text-center">
               Mira💎 sesli asistan, hastaneye yardımcı temel görevleri gerçekleştirmek için insanlarla etkileşime girer.
</p>

<p class="container"> Pychram kullanılarak oluşturulmuş hastanelere yönelik bir sesli asistan hizmetidir. 
<br>İnsan konuşmasını anlayabilir ve  temel görevlerini yerine getirebilir.
<br><br>Mira hasta katılımını artırmak ve hekim tükenmişliğini azaltmak için önemli bir fırsat sunar.
                <br>Ayrıca hastanedeki temel bilgi ihtiyacını iyi yönetme potansiyeline sahiptir. 
<br>Kullanıcı uygun sözcükler belirttiğinde, Mira etkinleştirilir ve kullanıcı komutlarını yürütür.

<br><br>
<p style="color: #31D2F7; font-weight: bold;">Mira sesli hastane asistanı aşağıdaki görevleri gerçekleştirebilir:</p>
 Randevunuz Hakkında Bilgi Alabilirsiniz.
<br> Doktorlar Hakkında Bilgi Alabilirsiniz.
<br> Doktorun Hastanede Olup Olmadığını Öğrenebilirsiniz.
<br> Muayenehanelerin yerlerini öğrenebilirsiniz.
<br> Wikipedia üzerinden gerekli bilgiler edinebilirsiniz.
<br> Saati sorgulayabilirsiniz.
 
</p>
<p class="container">
                Ve Daha Birçok Şeyi Mira ile Konuşarak Öğrenebilirsiniz!
                <br><br>
<p class="container">

                <br><br><br>Mira💎 kendini geliştirmeye devam edecektir. <br>Bu süreçle ilgili bilgi almak için bizimle iletişime geçebilirsiniz.

<br>Önerilerinize açığız. ☺️
</p>
<br>


<br>


{% endblock content %}
