{% extends "todoapp1/base.html" %}
{% block title %}
PROJE AYRINTILARI
{% endblock title %}

{% block content %}

<div class="text-center">
<br>
<br>
<h1>PROJE AYRINTILARI</h1>
<br>
<div class="site-title-wrapper">
	<h2 class="container"><a href="{% url 'about' %}" rel="home">Mira💎</a></h1>
</div><!-- .site-title-wrapper -->
</div>
<br>
<div class="text-center">
               Mira💎 sesli asistan, hastaneye yardımcı temel görevleri gerçekleştirmek için insanlarla etkileşime girer.
</p>
<br>

<img bottom src="https://avatars.mds.yandex.net/get-images-cbir/4383705/jqM2t5_A4PVRZ87iK7fPQg0729/ocr" alt="sesliasistanresmi" title="Mira💎" width="500" height="250"/>
<br><br>
<p class="container"> Mira, Pychram kullanılarak oluşturulmuş hastanelere yönelik bir sesli asistan hizmetidir. 
<br>İnsan konuşmasını anlayabilir ve  temel görevlerini yerine getirebilir.

<br>Kullanıcı uygun sözcükler belirttiğinde, Mira etkinleştirilir ve kullanıcı komutlarını yürütür.

<br><br>
Mira sesli hastane asistanı aşağıdaki görevleri gerçekleştirebilir:
<br> Randevunuz Hakkında Bilgi Alabilirsiniz.
<br> Doktorlar Hakkında Bilgi Alabilirsiniz.
<br> Doktorun Hastanede Olup Olmadığını Öğrenebilirsiniz.
<br> Muayenehanelerin yerlerini öğrenebilirsiniz.
<br> Wikipedia üzerinden gerekli bilgiler edinebilirsiniz.
<br> Saati sorgulayabilirsiniz.
 
</p>
<p class="container">
                Ve Daha Birçok Şeyi Mira ile Konuşarak Öğrenebilirsiniz!
                <br><br>
<p class="container">

                Mira hasta katılımını artırmak ve hekim tükenmişliğini azaltmak için önemli bir fırsat sunar.
                <br>Ayrıca hastanedeki temel bilgi ihtiyacını iyi yönetme potansiyeline sahiptir. 

                <br><br><br>Mira💎 kendini geliştirmeye devam edecektir. <br>Bu süreçle ilgili bilgi almak için bizimle iletişime geçebilirsiniz.

<br>Önerilerinize açığız. ☺️
</p>
<br>


<br>


{% endblock content %}
